<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="POS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <userSettings>
    <POS.My.MySettings>
      <setting name="DBname" serializeAs="String">
        <value>POS</value>
      </setting>
      <setting name="DBuser" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBpass" serializeAs="String">
        <value>p@ssword</value>
      </setting>
      <setting name="DBconn" serializeAs="String">
        <value>Data Source=DESKTOP-A16DAST\dbsql;Initial Catalog=POS;User ID=sa;Password=p@ssword;</value>
      </setting>
      <setting name="DBsource" serializeAs="String">
        <value>.</value>
      </setting>
    </POS.My.MySettings>
  </userSettings>
</configuration>